<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>trellostats</title>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="css/application.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
	<header class="row-fluid">
		<div class="span3">
			<h1>trellostats</h1>
			<div id="member"></div>
		</div>
		<div id="loadingG" class="clearfix span1 offset8" style="display: none;">
			<div id="blockG_1" class="loading_blockG"></div>
			<div id="blockG_2" class="loading_blockG"></div>
			<div id="blockG_3" class="loading_blockG"></div>
		</div>
	</header>
	<div class="row-fluid">
		<nav id="boards" class="span3"></nav>
		<div id="chart" class="span9"></div>
	</div>
	<footer id="about"></footer>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//canjs.com/release/1.1.5/can.jquery.min.js"></script>
<script src="js/libs/highcharts.js"></script>
<script>
	window._ || document.write('<script src="js/libs/underscore-min.js"><\/script>')
	window.jQuery || document.write('<script src="js/libs/jquery-min.js"><\/script>')
	window.can || document.write('<script src="js/libs/can.jquery.min.js"><\/script>')
</script>

<script type="text/ejs" id="memberEJS">
	<a href="#" class="btn btn-success login">connect</a>
	<span><%= this.attr('name') %></span>
	<a href="#" class="btn btn-mini btn-warning logout">logout</a>
</script>

<script type="text/ejs" id="boardsEJS">
	<ul class="nav nav-tabs nav-stacked">
		<% this.attr('boards').each(function (board, name) { %>
			<li><a <%= (el) -> el.data('board', board) %> href="#">
				<%= board.attr('name') %>
			</a></li>
		<% }) %>
	</ul>
</script>

<script src="https://api.trello.com/1/client.js?key=4fcf1a00dfcf18f9bbf9eeceab2b680a"></script>
<script data-main="js/application" src="js/libs/require.js"></script>
</body>
</html>